/* 
border color: #bdc3c7
date color:#3498db
h2 color: #2c3e50

font: source sans pro
*/

body{
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
}

#date{
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2{
    color: #2c3e50;
    text-transform: capitalize;
}

#borderLeft{
    padding-left: 5px;
    border-left: 5px solid #bdc3c7;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 15px;
}